.wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
  width: 100vw;
  background: #357214;
}

.sidecard {
  padding: 1em;
  margin: 0.5em;
  background: #5e9a3f;
  border-radius: 0.5rem;
  height: 97vh;
}

.sidebtn {
  border-radius: 0.4rem;
  font-size: 1rem;
  text-overflow: ellipsis;
}

.sidebtn:hover {
  background-color: rgba(0, 247, 255, 0.8);
}

.maincard {
  padding: 1em;
  margin: 0.5em;
  /* 99ca7e */
  background: rgb(153, 202, 126);
  background: linear-gradient(
    197deg,
    rgba(153, 202, 126, 1) 37%,
    rgba(199, 231, 181, 1) 95%
  );
  border-radius: 0.5rem;
  height: 97vh;
}

div.absolute {
  position: absolute;
  bottom: 4vh;
}

.home:hover {
  cursor: pointer;
  color: chartreuse;
}

.home {
  color: white;
}

.customgamewrapper {
  display: grid;
}

.output {
  display: grid;
  background-color: white;
  margin-top: 2vh;
  height: 55vh;
  width: 75vw;
  border-style: so2d;
  padding: 0.5em;
  overflow: scroll;
  /* margin: 0; */
  padding: 0;
}

.hr-over {
  margin: 0;
  padding: 0;
}

.scoreheader {
  /* background-color: rgb(0, 118, 228); */
  height: 5vh;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding-left: 1em;
}

.scorecard {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 70% 30%;
}

.outercard {
  display: grid;
  margin: 0;
  padding: 0;
}

.footerscore {
  position: absolute;
  right: 0;
  font-weight: normal;
  margin-right: 430px;
}

.sim-btn {
  box-shadow: none;
  border-style: solid;
  outline: none;
}

.sim-btn:hover {
  background-color: beige;
}

.selected-sim-btn {
  background-color: aquamarine;
}

.selected-sim-btn:hover {
  background-color: beige;
}

.teams-list-display {
  background: white;
  width: 15vw;
  height: 44vh;
  padding-left: 10px;
  padding-top: 10px;
  border-style: solid;
  border-color: lightgray;
}

.create-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

#myInput {
  background-image: url("/css/searchicon.png"); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 12px; /* Increase font-size */
  padding: 6px 10px 6px 20px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 50vh;
  overflow: scroll;
}

#myUL li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 12px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  cursor: pointer;
}

#myUL li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.player-review-list-item {
  width: 100%;
  border-style: none;
}

.player-review-list-item:hover {
  background-color: rgb(0, 119, 255);
  color: #fff;
}

.create-team {
  margin-top: 10px;
  border-style: none;
  border-radius: 0.5em;
  width: 100%;
  height: 5vh;
  background-color: tomato;
  transition: 0.3s;
}

.create-team:hover {
  background-color: yellowgreen;
}

.inp {
  margin: 0.3rem;
  margin-bottom: 0.4rem;
}

.load {
  margin: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
